.publications {
  margin: 0 auto;
}

.form-control {
  &:hover,
  &:focus {
    box-shadow: 0 0 12px rgba(34, 135, 242, 0.9);
  }
}

.icon-loupe {
  fill: #78828b;
}

.input-group-addon:hover .icon-loupe,
.input-group-addon:focus .icon-loupe {
  fill: fade(rgb(0, 0, 255), 70%);
}

.input-group-addon {
  background-color: @button-bg;

  &:hover,
  &:focus {
    box-shadow: 0 0 12px rgba(34, 135, 242, 0.9);
  }
}

.publications__list {
  .list-reset();
}

.publications__item {
  padding: 20px;

  background-color: #ffffff;
  border: 1px solid #d4d9df;
  border-radius: 5px;

  box-sizing: border-box;
}

.publications__title {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;

  color: #0044da;

  margin: 0;
  margin-bottom: 15px;
}

.publications__text {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;

  margin: 0;
  margin-bottom: 20px;
}

.publications__author {
  display: block;

  font-size: 15px;
  line-height: 18px;
  font-weight: 400;

  color: #b8bcc0;
}
